#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    width: 100%;
}

.title {
    margin-top: 0;
    font-family: Arial, serif;
}
